domain-api/src/main/resources/META-INF/schema/cluster-configuration.xsd

<!--
  ~ Copyright 2009 Denys Pavlov, Igor Azarnyi
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->


<!--
    Schema for simple cluster setup with WS communication.

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://www.yes-cart.org/schema/cluster-configuration.xsd"

    This namespace is not actually pointing to the URL for schema, so you need to
    create an alias in your IDE that would point that namespace to this file.

    @author D.Pavlov
 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="nodes" type="NodesType"/>

    <xs:complexType name="NodesType">
        <xs:sequence>
            <xs:element name="node" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cluster-id" type="xs:string"/>
                        <xs:element name="node-id" type="xs:string"/>
                        <xs:element name="node-type" type="NodeTypeType"/>
                        <xs:element name="node-config" type="NodeConfigType"/>
                        <xs:element name="version" type="xs:string" minOccurs="0"/>
                        <xs:element name="build-number" type="xs:string" minOccurs="0"/>
                        <xs:element name="lucene-index-disabled" type="xs:boolean"/>
                        <xs:element name="channel" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="NodeTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SFW"/>
            <xs:enumeration value="SFG"/>
            <xs:enumeration value="API"/>
            <xs:enumeration value="ADM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NodeConfigType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="STAGING"/>
            <xs:enumeration value="PRODUCTION"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>