core-modules/core-module-impex/src/main/resources/META-INF/schema/attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="common.xsd"/>

  <xs:element name="attributes" type="attributesType"/>

  <xs:complexType name="attributesType">
    <xs:sequence>
      <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attributeType">
    <xs:sequence>
      <xs:element type="xs:boolean" name="mandatory"/>
      <xs:element type="xs:boolean" name="secure"/>
      <xs:element type="xs:boolean" name="allow-duplicate"/>
      <xs:element type="xs:boolean" name="allow-failover"/>
      <xs:element type="xs:boolean" name="store"/>
      <xs:element type="xs:boolean" name="search"/>
      <xs:element type="xs:boolean" name="primary"/>
      <xs:element type="xs:boolean" name="navigation"/>
      <xs:element type="xs:string" name="val" minOccurs="0"/>
      <xs:element type="xs:string" name="regexp" minOccurs="0"/>
      <xs:element type="i18nsType" name="validation-failed-message" minOccurs="0"/>
      <xs:element type="i18nsType" name="choice-data" minOccurs="0"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="i18nsType" name="display-name" minOccurs="0"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="id"/>
    <xs:attribute type="xs:string" name="guid"/>
    <xs:attribute type="xs:string" name="code" use="required"/>
    <xs:attribute type="xs:string" name="group" use="required"/>
    <xs:attribute type="xs:string" name="etype" use="required"/>
    <xs:attribute type="xs:int" name="rank"/>
  </xs:complexType>
</xs:schema>