core-modules/core-module-impex/src/main/resources/META-INF/schema/categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="common.xsd"/>

  <xs:element name="categories" type="categoriesType"/>

  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryType">
    <xs:sequence>
      <xs:element type="baseCategoryType" name="parent"/>
      <xs:element type="baseCategoryType" name="link" minOccurs="0"/>
      <xs:element name="availability">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="dateTimeType" name="available-from" minOccurs="0"/>
            <xs:element type="dateTimeType" name="available-to" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute type="xs:boolean" name="disabled" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="i18nsType" name="display-name" minOccurs="0"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="navigationType" name="navigation"/>
      <xs:element type="renderingType" name="rendering"/>
      <xs:element type="seoType" name="seo"/>
      <xs:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="id"/>
    <xs:attribute type="xs:string" name="guid" use="required"/>
    <xs:attribute type="xs:int" name="rank"/>
  </xs:complexType>

  <xs:complexType name="navigation-by-priceType">
    <xs:sequence>
      <xs:element type="xs:string" name="price-tiers"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="enabled"/>
  </xs:complexType>

  <xs:complexType name="renderingType">
    <xs:sequence>
      <xs:element type="xs:string" name="ui-template" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="navigation-by-attributesType">
    <xs:sequence>
      <xs:element type="navigation-product-typeType" name="navigation-product-type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="enabled"/>
  </xs:complexType>

  <xs:complexType name="navigation-product-typeType">
    <xs:attribute type="xs:long" name="id"/>
    <xs:attribute type="xs:string" name="guid" use="required"/>
  </xs:complexType>

  <xs:complexType name="navigationType">
    <xs:sequence>
      <xs:element type="navigation-by-attributesType" name="navigation-by-attributes" minOccurs="0"/>
      <xs:element type="navigation-by-priceType" name="navigation-by-price" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="baseCategoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="id"/>
        <xs:attribute type="xs:string" name="guid" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>