core-modules/core-module-impex/src/main/resources/META-INF/schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="dateTimeType">
    <xs:restriction base="xs:token">
      <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) ([01][1-9]|2[123]):([0-5][0-9]):([0-5][0-9])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="i18nsType">
    <xs:sequence>
      <xs:element type="i18nType" name="i18n" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="i18nType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="custom-attributesType">
    <xs:sequence>
      <xs:element type="custom-attributeType" name="custom-attribute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="custom-attributeType">
    <xs:sequence>
      <xs:element type="xs:string" name="custom-value"/>
      <xs:element type="i18nsType" name="custom-display-value" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="id"/>
    <xs:attribute type="xs:string" name="guid"/>
    <xs:attribute type="xs:string" name="code" use="required"/>
  </xs:complexType>

  <xs:complexType name="seoType">
    <xs:sequence>
      <xs:element type="xs:string" name="uri" minOccurs="0"/>
      <xs:element type="xs:string" name="meta-title" minOccurs="0"/>
      <xs:element type="i18nsType" name="meta-title-display" minOccurs="0"/>
      <xs:element type="xs:string" name="meta-keywords" minOccurs="0"/>
      <xs:element type="i18nsType" name="meta-keywords-display" minOccurs="0"/>
      <xs:element type="xs:string" name="meta-description" minOccurs="0"/>
      <xs:element type="i18nsType" name="meta-description-display" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>