core-modules/core-module-impex/src/main/resources/META-INF/schema/impex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <!-- Common -->

    <xsd:simpleType name="entityImportModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MERGE"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="INSERT_ONLY"/>
            <xsd:enumeration value="UPDATE_ONLY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="collectionImportModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MERGE"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="REPLACE"/>
            <xsd:enumeration value="INSERT_ONLY"/>
            <xsd:enumeration value="UPDATE_ONLY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="i18nImportModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MERGE"/>
            <xsd:enumeration value="REPLACE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="dateTimeType">
        <xsd:restriction base="xsd:token">
            <xsd:pattern
                    value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) ([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="i18nsType">
        <xsd:sequence>
            <xsd:element type="i18nType" name="i18n" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="i18nImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="i18nType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute type="xsd:string" name="lang" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="custom-attributesType">
        <xsd:sequence>
            <xsd:element type="custom-attributeType" name="custom-attribute" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="custom-attributeType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="custom-value"/>
            <xsd:element type="i18nsType" name="custom-display-value" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="attribute" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="seoType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="uri" minOccurs="0"/>
            <xsd:element type="xsd:string" name="meta-title" minOccurs="0"/>
            <xsd:element type="i18nsType" name="meta-title-display" minOccurs="0"/>
            <xsd:element type="xsd:string" name="meta-keywords" minOccurs="0"/>
            <xsd:element type="i18nsType" name="meta-keywords-display" minOccurs="0"/>
            <xsd:element type="xsd:string" name="meta-description" minOccurs="0"/>
            <xsd:element type="i18nsType" name="meta-description-display" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="i18nImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Attributes -->


    <xsd:element name="attributes" type="attributesType"/>
    <xsd:element name="attribute" type="attributeType"/>

    <xsd:complexType name="attributesType">
        <xsd:sequence>
            <xsd:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="attributeType">
        <xsd:sequence>
            <xsd:element type="xsd:boolean" name="mandatory"/>
            <xsd:element type="xsd:boolean" name="secure"/>
            <xsd:element type="xsd:boolean" name="allow-duplicate"/>
            <xsd:element type="xsd:boolean" name="allow-failover"/>
            <xsd:element type="xsd:boolean" name="store"/>
            <xsd:element type="xsd:boolean" name="search"/>
            <xsd:element type="xsd:boolean" name="primary"/>
            <xsd:element type="xsd:boolean" name="navigation"/>
            <xsd:element type="xsd:string" name="val" minOccurs="0"/>
            <xsd:element type="xsd:string" name="regexp" minOccurs="0"/>
            <xsd:element type="i18nsType" name="validation-failed-message" minOccurs="0"/>
            <xsd:element type="i18nsType" name="choice-data" minOccurs="0"/>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="code" use="required"/>
        <xsd:attribute type="xsd:string" name="group" use="required"/>
        <xsd:attribute type="xsd:string" name="etype" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Categories -->


    <xsd:element name="categories" type="categoriesType"/>
    <xsd:element name="category" type="categoryType"/>

    <xsd:complexType name="categoriesType">
        <xsd:sequence>
            <xsd:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="categoryType">
        <xsd:sequence>
            <xsd:element type="baseCategoryType" name="parent" minOccurs="0"/> <!-- TODO: remove minOccurs when we separate out the content -->
            <xsd:element type="baseCategoryType" name="link" minOccurs="0"/>
            <xsd:element name="availability">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="dateTimeType" name="available-from" minOccurs="0"/>
                        <xsd:element type="dateTimeType" name="available-to" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute type="xsd:boolean" name="disabled" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="navigationType" name="navigation"/>
            <xsd:element type="categoryTemplatesType" name="templates"/>
            <xsd:element type="seoType" name="seo"/>
            <xsd:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="navigation-by-priceType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="price-tiers"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:boolean" name="enabled"/>
    </xsd:complexType>

    <xsd:complexType name="categoryTemplatesType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="category" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="navigation-by-attributesType">
        <xsd:sequence>
            <xsd:element type="navigation-product-typeType" name="navigation-product-type" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:boolean" name="enabled"/>
    </xsd:complexType>

    <xsd:complexType name="navigation-product-typeType">
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
    </xsd:complexType>

    <xsd:complexType name="navigationType">
        <xsd:sequence>
            <xsd:element type="navigation-by-attributesType" name="navigation-by-attributes" minOccurs="0"/>
            <xsd:element type="navigation-by-priceType" name="navigation-by-price" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="baseCategoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute type="xsd:long" name="id"/>
                <xsd:attribute type="xsd:string" name="guid" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- Inventory -->


    <xsd:element name="inventory" type="inventoryType"/>
    <xsd:element name="stock" type="stockType"/>

    <xsd:complexType name="inventoryType">
        <xsd:sequence>
            <xsd:element type="stockType" name="stock" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="stockType">
        <xsd:sequence>
            <xsd:element type="quantityType" name="quantity" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="sku" use="required"/>
        <xsd:attribute type="xsd:string" name="warehouse" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="quantityType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute type="quantityTypeType" name="type" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="quantityTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="stock"/>
            <xsd:enumeration value="reserved"/>
            <xsd:enumeration value="ats"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- SKU -->


    <xsd:element name="skus" type="skusType"/>
    <xsd:element name="sku" type="skuType"/>

    <xsd:complexType name="skusType">
        <xsd:sequence>
            <xsd:element type="skuType" name="sku" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="skuType">
        <xsd:sequence>
            <xsd:element name="manufacturer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="manufacturer-code" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="manufacturer-part-code" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="barcode" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="supplier">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="supplier-code" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="supplier-catalog-code" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="seoType" name="seo" minOccurs="0"/>
            <xsd:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:long" name="product-id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="code" use="required"/>
        <xsd:attribute type="xsd:string" name="product-code" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Products -->

    <xsd:element name="products" type="productsType"/>
    <xsd:element name="product" type="productType"/>

    <xsd:complexType name="productsType">
        <xsd:sequence>
            <xsd:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="productType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="brand"/>
            <xsd:element type="product-typeType" name="product-type"/>
            <xsd:element name="manufacturer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="manufacturer-code" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="manufacturer-part-code" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="supplier">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="supplier-code" minOccurs="0"/>
                        <xsd:element type="xsd:string" name="supplier-catalog-code" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pim">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="pim-code" minOccurs="0"/>
                        <xsd:element type="xsd:boolean" name="pim-outdated" minOccurs="0"/>
                        <xsd:element type="dateTimeType" name="pim-updated" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute type="xsd:boolean" name="disabled" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="availability">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="dateTimeType" name="available-from" minOccurs="0"/>
                        <xsd:element type="dateTimeType" name="available-to" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute type="xsd:boolean" name="disabled" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="inventory-config" minOccurs="0">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:int" name="type" use="required"/>
                            <xsd:attribute type="xsd:decimal" name="min"/>
                            <xsd:attribute type="xsd:decimal" name="max"/>
                            <xsd:attribute type="xsd:decimal" name="step"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="xsd:string" name="tags" minOccurs="0"/>
            <xsd:element type="seoType" name="seo" minOccurs="0"/>
            <xsd:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
            <xsd:element type="product-categoriesType" name="product-categories" minOccurs="0"/>
            <xsd:element type="product-skuType" name="product-sku" minOccurs="0"/>
            <xsd:element type="product-linksType" name="product-links" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="code" use="required"/>
        <xsd:attribute type="xsd:boolean" name="featured"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute type="xsd:long" name="id"/>
                <xsd:attribute type="xsd:string" name="guid" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="product-skuType">
        <xsd:sequence>
            <xsd:element type="skuType" name="sku" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-categoriesType">
        <xsd:sequence>
            <xsd:element type="product-categoryType" name="product-category" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-categoryType">
        <xsd:attribute type="xsd:long" name="id"/>
        <xsd:attribute type="xsd:string" name="guid" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-linksType">
        <xsd:sequence>
            <xsd:element type="product-linkType" name="product-link" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-linkType">
        <xsd:attribute type="xsd:string" name="association" use="required"/>
        <xsd:attribute type="xsd:string" name="sku" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Price -->

    <xsd:element name="price-list" type="price-listType"/>
    <xsd:element name="price" type="priceType"/>

    <xsd:complexType name="price-listType">
        <xsd:sequence>
            <xsd:element type="priceType" name="price" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="priceType">
        <xsd:sequence>
            <xsd:element name="pricing-policy">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="policy"/>
                            <xsd:attribute type="xsd:string" name="ref"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="xsd:string" name="tag" minOccurs="0"/>
            <xsd:element type="xsd:decimal" name="list-price"/>
            <xsd:element type="xsd:decimal" name="sale-price" minOccurs="0"/>
            <xsd:element type="xsd:decimal" name="minimal-price" minOccurs="0"/>
            <xsd:element name="availability">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="dateTimeType" name="available-from" minOccurs="0"/>
                        <xsd:element type="dateTimeType" name="available-to" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="sku" use="required"/>
        <xsd:attribute type="xsd:string" name="shop" use="required"/>
        <xsd:attribute type="xsd:string" name="currency" use="required"/>
        <xsd:attribute type="xsd:decimal" name="quantity" use="required"/>
        <xsd:attribute type="xsd:boolean" name="offer" use="required"/>
        <xsd:attribute type="xsd:boolean" name="request" use="required"/>
        <xsd:attribute type="xsd:boolean" name="generated"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Taxes -->

    <xsd:element name="taxes" type="taxesType"/>
    <xsd:element name="tax" type="taxType"/>

    <xsd:complexType name="taxesType">
        <xsd:sequence>
            <xsd:element type="taxType" name="tax" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="taxType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="rateType" name="rate"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="code" use="required"/>
        <xsd:attribute type="xsd:string" name="shop" use="required"/>
        <xsd:attribute type="xsd:string" name="currency" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="rateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute type="xsd:boolean" name="gross" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:element name="tax-configs" type="tax-configsType"/>
    <xsd:element name="tax-config" type="tax-configType"/>

    <xsd:complexType name="tax-configsType">
        <xsd:sequence>
            <xsd:element type="tax-configType" name="tax-config" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tax-configType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="sku" minOccurs="0"/>
            <xsd:element type="tax-regionType" name="tax-region" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="dateTimeType" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="tax" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="tax-regionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute type="xsd:string" name="country"/>
                <xsd:attribute type="xsd:string" name="state"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- Product types -->

    <xsd:element name="product-types" type="product-typesType"/>
    <xsd:element name="product-type" type="product-typeTypeType"/>

    <xsd:complexType name="product-typesType">
        <xsd:sequence>
            <xsd:element type="product-typeTypeType" name="product-type" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="product-typeTypeType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="product-typeTemplatesType" name="templates" minOccurs="0"/>
            <xsd:element type="configurationType" name="configuration" minOccurs="0"/>
            <xsd:element type="product-type-groupsType" name="product-type-groups" minOccurs="0"/>
            <xsd:element type="product-type-attributesType" name="product-type-attributes" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-typeTemplatesType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="product" minOccurs="0"/>
            <xsd:element type="xsd:string" name="category" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="configurationType">
        <xsd:sequence>
            <xsd:element type="xsd:boolean" name="service" minOccurs="0"/>
            <xsd:element type="xsd:boolean" name="shippable" minOccurs="0"/>
            <xsd:element type="xsd:boolean" name="digital" minOccurs="0"/>
            <xsd:element type="xsd:boolean" name="downloadable" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="product-type-groupsType">
        <xsd:sequence>
            <xsd:element type="product-type-groupType" name="product-type-group" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>


    <xsd:complexType name="product-type-groupType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="product-type-group-attributesType" name="product-type-group-attributes"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-type-group-attributesType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="product-type-group-attribute" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="product-type-attributesType">
        <xsd:sequence>
            <xsd:element type="product-type-attributeType" name="product-type-attribute" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-type-attributeType">
        <xsd:sequence>
            <xsd:element type="product-type-attribute-navigationType" name="product-type-attribute-navigation" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid"/>
        <xsd:attribute type="xsd:string" name="attribute" use="required"/>
        <xsd:attribute type="xsd:int" name="rank"/>
        <xsd:attribute type="xsd:boolean" name="visible"/>
        <xsd:attribute type="xsd:boolean" name="similarity"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="product-type-attribute-navigationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute type="xsd:string" name="type"/>
                <xsd:attribute type="xsd:string" name="template"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- System preferences -->

    <xsd:element name="systems" type="systemsType"/>
    <xsd:element name="system" type="systemType"/>

    <xsd:complexType name="systemsType">
        <xsd:sequence>
            <xsd:element type="systemType" name="system" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="systemType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="xsd:string" name="description" minOccurs="0"/>
            <xsd:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="guid" use="required"/>
        <xsd:attribute type="xsd:string" name="code" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <!-- Data groups + descriptors -->

    <xsd:element name="data-groups" type="data-groupsType"/>
    <xsd:element name="data-group" type="data-groupType"/>
    <xsd:element name="data-descriptors" type="data-descriptorsType"/>
    <xsd:element name="data-descriptor" type="data-descriptorType"/>

    <xsd:complexType name="data-groupsType">
        <xsd:sequence>
            <xsd:element type="data-groupType" name="data-group"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="data-descriptorsType">
        <xsd:sequence>
            <xsd:element type="data-descriptorType" name="data-descriptor"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="data-groupType">
        <xsd:sequence>
            <xsd:element type="i18nsType" name="display-name" minOccurs="0"/>
            <xsd:element type="data-group-descriptorsType" name="data-group-descriptors"/>
            <xsd:element type="xsd:string" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="name" use="required"/>
        <xsd:attribute type="xsd:string" name="qualifier"/>
        <xsd:attribute type="data-groupTypeType" name="type"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:simpleType name="data-groupTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IMPORT"/>
            <xsd:enumeration value="EXPORT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="data-group-descriptorsType">
        <xsd:sequence>
            <xsd:element type="data-descriptorType" name="data-descriptor" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="collectionImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:complexType name="data-descriptorType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="value"/>
            <xsd:element type="xsd:string" name="created-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="created-by" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-timestamp" minOccurs="0"/>
            <xsd:element type="xsd:string" name="updated-by" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="id"/>
        <xsd:attribute type="xsd:string" name="name" use="required"/>
        <xsd:attribute type="data-descriptorTypeType" name="type" use="required"/>
        <xsd:attribute type="entityImportModeType" name="import-mode"/>
    </xsd:complexType>

    <xsd:simpleType name="data-descriptorTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="WEBINF_XML/CSV"/>
            <xsd:enumeration value="RAW_XML/CSV"/>
            <xsd:enumeration value="WEBINF_XML/XML"/>
            <xsd:enumeration value="RAW_XML/XML"/>
            <!-- TODO: add JSON support -->
            <xsd:enumeration value="WEBINF_XML/JSON"/>
            <xsd:enumeration value="RAW_XML/JSON"/>
            <!-- Deprecated types for backward compatibility -->
            <xsd:enumeration value="WEBINF_XML"/>
            <xsd:enumeration value="RAWINF_XML"/>
        </xsd:restriction>
    </xsd:simpleType>


</xsd:schema>