core-modules/core-module-impex/src/main/resources/META-INF/schema/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="common.xsd"/>
  <xs:include schemaLocation="sku.xsd"/>

  <xs:element name="products" type="productsType"/>

  <xs:complexType name="productsType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="xs:string" name="brand"/>
      <xs:element type="product-typeType" name="product-type"/>
      <xs:element name="manufacturer">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="manufacturer-code" minOccurs="0"/>
            <xs:element type="xs:string" name="manufacturer-part-code" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="supplier">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="supplier-code" minOccurs="0"/>
            <xs:element type="xs:string" name="supplier-catalog-code" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pim">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="pim-code" minOccurs="0"/>
            <xs:element type="xs:boolean" name="pim-outdated" minOccurs="0"/>
            <xs:element type="dateTimeType" name="pim-updated" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute type="xs:boolean" name="disabled" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="availability">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="dateTimeType" name="available-from" minOccurs="0"/>
            <xs:element type="dateTimeType" name="available-to" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute type="xs:boolean" name="disabled" use="required"/>
          <xs:attribute type="xs:int" name="type"/>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="i18nsType" name="display-name" minOccurs="0"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="xs:string" name="tags" minOccurs="0"/>
      <xs:element type="seoType" name="seo" minOccurs="0"/>
      <xs:element type="custom-attributesType" name="custom-attributes" minOccurs="0"/>
      <xs:element type="product-categoriesType" name="product-categories" minOccurs="0"/>
      <xs:element type="skuType" name="sku" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="id"/>
    <xs:attribute type="xs:string" name="guid"/>
    <xs:attribute type="xs:string" name="code" use="required"/>
  </xs:complexType>

  <xs:complexType name="product-typeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="id"/>
        <xs:attribute type="xs:string" name="guid" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="product-categoriesType">
    <xs:sequence>
      <xs:element type="product-categoryType" name="product-category" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="product-categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:long" name="id"/>
        <xs:attribute type="xs:string" name="guid" use="required"/>
        <xs:attribute type="xs:int" name="rank"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>